# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

geoapi/db.sqlite3

# dependencies
geoapp/node_modules
geoapp/.pnp
.pnp.js
**/*__pycache__
# testing
geoapp/coverage

# production
geoapp/build

# misc
.DS_Store
**/*.env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


npm-debug.log*
yarn-debug.log*
yarn-error.log*
